
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>TaTsk Pad - Organization Invite Code</h1>
    <p>
      You have been invited to join <%= @organization_name %> on TaTsk Pad.
    </p>
    <p>
      Click the link below to accept the invitation.
      <%= @invite_link %>
    </p>
  </body>
</html>